*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
margin: 15px;
}

#bodyform{
    background-color: rgb(51, 51, 51);
}
#fundoform, p{
    background-color: rgb(88, 88, 88);
    color: black;
    padding: 15px;
}
legend{
    color: goldenrod;
    
}
nav {
    background-color:  rgb(14, 14, 14);
}

nav li {
    display: inline-block; /* Para ficar uma li ao lado da outra*/
}

/* Personalizar a tag A dentro dos Li */
nav li a {
    display: inline-block;
    color: rgb(255, 255, 255); 
    text-decoration: none;  /* Tira o link do texto */
    padding: 15px;              /* Distancia entre os nomes */
}

nav li a:hover {
    background-color: goldenrod;
}

/* Define as propriedades do dropdown-menu */
.dropdown-menu {
    position: absolute; 
    box-shadow: 0 0 2px rgb(255, 255, 255); 
    display: none; /* Esconde o menu suspenso inicialmente */
}

/* Define as propriedades dos links dentro do dropdown-menu */
.dropdown-menu a {
    display: block; /* Define os links como blocos para ocupar todo o espaço horizontal disponível */
    background-color: rgb(43, 41, 41);
    color: rgb(255, 255, 255); /* Define a cor do texto dos links como preto */
}

/* Quando o cursor do mouse passa sobre o elemento com a classe .dropdown,
   o dropdown-menu deve ser exibido */
.dropdown:hover .dropdown-menu {
    display: block; /* Exibe o menu suspenso quando o mouse está sobre o elemento pai */
}

#logo {
    background-color: rgb(145, 113, 33);
   
}
#botaovoltaraotopo{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li {
    padding: 3px;
    font-family: Arial;
}

.rodape {
    background-color: rgb(14, 14, 14);
    color: white;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: Arial;
}

.rodape a {
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 5px;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4 {
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}

.rodape span {
    font-size: 14;
    color: goldenrod;
}

.rodape-direitos {
    width: calc(100% - 20px);
    background-color: rgb(54, 54, 54);
    padding: 10px;
    margin: 0px;
    text-align: center;
}

#iconerodape {
    width: 15px;
}
